@layer components {
  .dialog {
    margin: auto;
    width: calc(100% - var(--spacing) * 8);
    max-width: calc(var(--spacing) * 124);
    max-height: calc(100dvh - var(--spacing) * 8);
    overflow-y: auto;
    box-sizing: border-box;
    padding: calc(var(--spacing) * 4);
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 4);
    border: 1px solid var(--border);
    border-radius: calc(var(--radius) + 4px);
    background: var(--popover);
    color: var(--popover-foreground);

    outline: none;

    &:not([open]) {
      display: none;
    }
  }

  .dialog-header {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 1.5);
    text-align: left;
  }

  .dialog-footer {
    display: flex;
    flex-direction: column-reverse;
    gap: calc(var(--spacing) * 2);
    margin: 0 calc(var(--spacing) * -4) calc(var(--spacing) * -4) calc(var(--spacing) * -4);
    padding: calc(var(--spacing) * 4);
    background: color-mix(in oklch, var(--muted) 50%, transparent);
    border-top: 1px solid var(--border);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;

    @media (min-width: 640px) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}
